{% extends "base.html" %}
           

{% block content %} 

 
 
 <span style="font-size:15px">
 <p>This is helpful for monetizing through Google Adsense, as they expect a minium of around 300 characters</p>
     
     
    <ol>
        <li><b><a href="/count_words.html">The Catty Cook using beautifulsoup</a> (my recipe blog)</a>
          <br><span>Difficult to generalize for more than just my recipe blog</span>
          </li>
          <li><b><a href="/count_words_improved.html">The Catty Cook using Selenium</a> (my recipe blog) </a></b>
            <br><span>May be easier to code for all my blogs</span>
          </li>
          <li><b><a href="/count_words_all_blogs.html">All five blogs using Selenium</a>   </a></b>
            <br><span>May be easier to code for all my blogs</span>
          </li>  

    </ol>
</span> 
{% endblock content %}




